# Standardize on UID 999
RUN usermod -o -u 999 default

# Drop the root user and make the content of /opt/app-root owned by user default
RUN chown -R 999:0 /opt/app-root && chmod -R ug+rwx /opt/app-root
USER 999

ENTRYPOINT ["container-entrypoint"]
