# Drop the root user and make the content of /opt/app-root owned by user default
RUN chown -R default:0 /opt/app-root && chmod -R ug+rwx /opt/app-root
USER default

ENTRYPOINT ["container-entrypoint"]
