openshift.withCluster() {
        echo "==============================="
        echo "Tag new image into staging"
        echo "==============================="

        openshift.tag("ausnimbus-ci/%REPO%:%VERSION%", "ausnimbus/%REPO%:%VERSION%")
}
